.post{
    margin-bottom: 25px;
}
.bannerImg img{
    width: 100%;
    border-radius: 8px;
    align-items: center;
}

.author-container{
    display: flex;
    justify-content: space-between;
}
.author-info{
    display: flex;
    align-items: flex-end;
}

.author-info img{
    width: 50px;
    margin-right: 15px;
    border-radius: 50px;
}

.author-info h4{
    margin-bottom: 0;
}
.author-info p{
    margin: 0;
}

a{
    color: blue;
    margin-top: 0px;
}

h1{
    color: black;
}
